// Place all the styles related to the key_pairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo > img {
  display: block;
  margin: auto;
}

#key-pair-app {
  text-align: center;
}

.basic-text {
  color: #fff;
  font-size: 30px;
  font-weight: 200;
}
